#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.formula_menu ul li.current {
  background-color: #cfeeff;
}

.formula_menu ul li {
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  overflow: hidden;
  font-size: 12px;
}

.formula_menu ul li em.more:after {
  content: "\E60C";
  text-align: center;
  font-weight: 400!important;
  text-decoration: none!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke-width: 0.22px;
  position: relative;
  font-family: hbicon;
  padding-left: 1px;
  color: #9da1c4;
  font-size: 12px;
}
